@charset "UTF-8";

@media screen and (max-width: 768px) {
    .hideOnmobile{
        display: none;
    }
    .menu-button{
        display: block;
    }

    @media screen and(max-width: 400px) {
        .sidebar{
            width: 100%;
        }
    }
}