@charset "UTF-8";
:root{
    --cor0: #BD2A2E;
    --cor1: #3B3936;
    --cor2: #B2BEBF;
    --cor3: #889C9B;
    --cor4: #486966;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    
}

nav{
    background-color: #BD2A2E;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 40px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover{
    background-color:#3B3936 ;
}

nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #bd2a2fda;
    backdrop-filter: blur(10px);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    color: black;
}

.menu-button{
    display: block;
}



